.title{text-align: center; font-size: 25px;}
.menu div{text-align: center; line-height: 40px; color: #fff;}
.titlearea{text-align: center; color: #fff; font-size: 20px; line-height: 45px;}
.inscForm{background: #fff; border: solid 1px #333;}
.inscErr{color: red; font-size: 16px; text-align: center; display: none;}
